<div class="h-full flex flex-col">
  <header class="flex justify-between items-center">
    <a title="Home" routerLink="/notes">
      <h1 class="page-title text-gray-900 ml-3">notes.</h1>
    </a>
    <button (click)="logout()" class="btn-main mr-3">
      Logout
    </button>
  </header>
  <section class="h-100 flex-1">
    <router-outlet></router-outlet>
  </section>

  <footer class="flex justify-center mt-2">
    <p class="m-auto text-sm font-light text-gray-500">
      Made with Angular &#x1F680;
    </p>
  </footer>
</div>
